.grid-container {
        grid-template-areas:'header header header'
                            'main-bar main-bar main-bar'
                            'menu content content'
                            'menu content content'
                            'footer footer footer';
        display:grid;
    }
    
.header {
        background-color:red;
        grid-area: header;
    }
.main-bar {
        background-color:blue;
        grid-area: main-bar;
    }
.menu {
        background-color:green;
        grid-area: menu;
    }
.content {
        background-color:pink;
        grid-area: content;
    }
.footer {
        background-color:violet;
        grid-area: footer;
    }
